#movie-info {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 5vh 5vw;
    align-items: center;
}

#movie-title{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

#rate-container {
    display: flex;
    justify-content: space-around;
}

#platforms-description{
    display: flex;
    margin-top: 5vh;
    gap: 0 5vw;
}

#platforms-container{
    display: flex;
}

.platform-image {
    height: 150px;
    width: 150px;
}
