#movies-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2vh 5vw;
    width: 90%;
    margin-top: 5vh;
}

.card-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: black
}

.card:hover{
    box-shadow: 0 0 20px black;
}

.card-title {
    text-align: center;
    flex-basis: 100%;
}

a{
    text-decoration: none;
}

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.form-select {
    width: 20vw;
}

.form-control {
    width: 40vw;
}

#img-card{
    width: 40px;
}
.critic-container, .audience-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}