#movies-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2vh 5vw;
    width: 90%;
}

.card-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: black
}

.card:hover{
    box-shadow: 0 0 20px black;
}

.card-title {
    text-align: center;
    flex-basis: 100%;
}

a{
    text-decoration: none;
}