#movie-info {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 5vh 5vw;
    align-items: center;
}

#movie-title{
    text-transform: uppercase;
    font-weight: bold;
    font-family: cursive;
    font-size: 2rem;
}

#rate-container {
    display: flex;
    justify-content: space-around;
}

#platforms-description {
    display: flex;
    margin-top: 5vh;
    gap: 0 5vw;
    align-items: center;
}

#platforms-container{
    display: flex;
}

.platform-image {
    height: 150px;
    width: 150px;
    border: 1px solid grey;
}


.carousel-item.active {
    display: block;
    margin: 0 auto;
}

.carousel-inner {
    width: 50%;
    display: block;
    margin: 0 auto;
}

#carouselExampleIndicators {
    width: 50%;
    background-color: rgba(128, 128, 128, .3);
    margin: auto;
}

#characteristics{
    margin: 2vh 10vh;
}

#casts{
    display: flex;
    flex-wrap: wrap;
    gap: 2vh 2vw;
    margin: 5vh 5vw;
}

#title-cast{
    text-align: center;
    margin-top: 5vh;
    font-weight: bold;
}

.figure {
    width: 100px;
}

td.review-photo > img{
    width: 50px;
    height: 50px;
}

.audience-container, .critic-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#img-card{
    width: 80px;
}

#trailer-container {
    display: flex;
    justify-content: center;
}