@page "/prueba"
@using CineScrapeProject.wwwroot.Models;
@inject HttpClient Http

<h3>prueba</h3>

@code {
	protected override async Task OnInitializedAsync()
	{
		var Movies = await Http.GetFromJsonAsync<List<Movie>>("sample-data/movies.json");
		await Task.Delay(2000);
	}

	protected override async Task OnParametersSetAsync()
	{
		
	}
}
